<!DOCTYPE html>
<meta charset="utf-8"/>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <link rel="stylesheet" href="style/styleCss.css" />
    
	<title>EventosApp</title>
	 
</head>

<body>

	<header>
		<nav>
			<div class="nav-wrapper">
				<a href="" class="brand-logo head-logo">Lista de Eventos</a>
				<ul	id="nav-mobile" class="right ride-onmed-on-down">
					<li><a class="waves-effect waves-light btn" href="eventos"><i class="material-icons left">format_list_bulleted</i>Lista de Eventos</a></li>
					<li><a class="waves-effect waves-light btn" href="/cadastrarEvento"><i class="material-icons left">add_circle_outline</i>Cadastrar Evento</a></li>
				</ul>
			</div>
		</nav>
	</header>

	<br />
	
	<div class="container listaEventos">
	
		<table>
			<thead>
				<tr>
					<th>Código</th>
					<th>Nome</th>
					<th>Local</th>
					<th>Data</th>
					<th>Horário</th>
					<th>Deletar</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="evento : ${eventos}">
					<td><span th:text="${evento.codigo}"></td>
					<td><a th:href="${(#mvc.url('EC#detalhesEvento').arg(0, evento.codigo)).build()}"><span th:text="${evento.nome}"></span></a></td>
					<td><span th:text="${evento.local}"></span></td>
					<td><span th:text="${evento.data}"></span></td>
					<td><span th:text="${evento.horario}"></span></td>
					<td><a class="waves-effect waves-light btn-small deletar" th:href="${(#mvc.url('EC#deletarEvento').arg(0, evento.codigo)).build()}">
						<i class="material-icons">delete_forever</i>
					</a></td>
				</div>
			</tbody>
		</table>
	
	</div>
	<!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
    
</body>
</html>